.header__wrapper {
  background-color: rgb(180, 83, 27);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.header__title {
  font-size: 2rem;
  font-family: "Montez", cursive;
  color: black;
  padding-left: 20px;

  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1500px) {
    font-size: 4rem;
    padding-left: 100px;
  }
}

ul {
  list-style-type: none;
}

.nav__list {
  display: flex;
  flex-direction: row;
}

.nav__item {
  padding: 0 10px;
  font-size: 1rem;
  @media (max-width: 600px) {
    font-size: 0.7rem;
  }
  @media (min-width: 1500px) {
    font-size: 2rem;
    padding: 0 20px;
  }
}
.nav__link {
  color: white;
}
