<div class="footer__wrapper">
    
        
        <div class="footer__content">
        <div class="timing__wrapper">
            <h3 class="charges">$6 delivery charge for Online orders</h3>
            <h2 class="timing">Store Timings</h2>
            <ul class="day-timings">
                <li>Monday    : 10am - 9pm</li>
                <li>Tuesday   : 10am - 9pm</li>
                <li>Wednesday : 10am - 9pm</li>
                <li>Thursday  : 10am - 9pm</li>
                <li>Friday    : 10am - 9pm</li>
                <li>Saturday  : 10am - 9pm</li>
                <li>Sunday    : 10am - 6pm</li>
            </ul>
        </div>
        <div class="loc__wrapper">
            <h2 class="Location"> Locations </h2>
            <p class="loc1"> Suite 114-12847 72 Ave <br> Surrey, BC <br>
            V3W 1E6</p>
            <p class="loc2"> 12245 94 Ave <br> Surrey, BC <br>
                V3T 4M6</p>
            <p class="phone"> 604-589-4553 <br> 778-895-9824 </p>
        </div>
    </div>
</div>