

<style>
  
 



</style>

<section class="li li--{{ id }}">
    <a href="{{ settings.link_url }}" class="li__content">
        <div class="left-image"> 
            <img id="leftImage" class="leftpic" src="{{ settings.image | img_url: 'master' }}" >
        </div>
        <h1 class="li__heading">{{ settings.heading }}</h1>
    </a>
</section>