<style>




</style>




<div class="hi hi--{{ id }}">
    <a href="{{ settings.link_url }}" class="hi__content">
        <h1 class="hi__heading">{{ settings.heading }}</h1>
        <div class="right-image">
            <img class="rightpic" src="{{ settings.image | img_url: 'master' }}">
        </div>
    </a>
</div>