<div class="header">
    <div class="header__wrapper">
        <a href="/" class="header__logo-wrapper">
            <h2 class="header__title"> Fray Pizza </h2>
        </a>

        {%- render 'nav' -%}
    </div>
</div>