


<a href="{{ product.url }}" class="product-tile">
    <div class="product-tile__image-wrapper">
        <img class="product-tile__image"src="{{ product.featured_image | img_url: '700x' }}" alt="{{ product.featured_image.alt }}" />
    </div>
    <div class="product-tile__info">
        <h3 class="product-tile__title">{{ product.title }}</h3>
    </div>
</a>